* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background-color:#f4f5ff;
	color: black;
	font-family: 'Nunito', sans-serif;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #f4f5ff;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: rgb(32,81,105);
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.bg{
	background-image: url("../images/img3.jpeg");
	width: 100%;
	background-size: 100px 100px;

    /* Set a specific height */
    min-height: 600px; 

    /* Create the parallax scrolling effect */
 /*   background-attachment: fixed;*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.title{
	position: absolute;
	top:10%;
    left: 30px;
	text-align: center;
	font-size: 3vw;
	font-weight: 
	padding: 20px;
    font-family: 'Nunito', sans-serif;
    color: #f4f5ff;
    background-color: #04063d;
    padding:20px;
     text-shadow: 1px 1px 4px black;

}
.container1 {
	align-items: center;
	height: 100vh;
    display: flex;
    color: white;
     text-shadow: 1px 1px 4px black;
}
.words{
   display: block;
   position: absolute;
   left: -10px;
   color: white;
}
.container{
    display: flex;
}
section {
	width: 50%;
	padding: 80px;
}
.woman {
	width: 100%;
	\
    min-height: 700px;
   /* background-attachment: fixed;*/
}

h4 {
	font-weight: 300;
	font-size: 24px;
	color: white;
	line-height: 1.7;
    text-shadow: 1px 1px 4px black;
}
















