<!DOCTYPE html>
<html>
<head>
	<title>final</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../stylesheet/gallery.css">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	 <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
</head>

<body>

<header>
<div id="mySidenav" class="sidenav">
	  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
	  <a href="../index.html">Home</a>
	  <a href="../templates/about.html">About</a>
	  <a href="../templates/membership.html">Membership</a>
	  <a href="../templates/contact.html">Contact Us</a>
	  <a href="../templates/gallery.html">Gallery</a>
</div>


<div id="main">
 	 <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
</div>
</header>

<script>
function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
    document.getElementById("main").style.marginLeft = "250px";
}

function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
    document.getElementById("main").style.marginLeft= "0";
}
</script>


<div class="header">
	<h1>Empower your inner warrior</h1>

</div>
<!-- image grid -->

<div class="row"> 
  <div class="column">
    <img src="../images/img9.jpeg" style="width: 100%">
    <img src="../images/img10.jpeg" style="width: 100%">
    <img src="../images/img14.jpeg" style="width: 100%">
  </div>
  <div class="column">
    <img src="../images/img11.jpeg" style="width: 100%">
    <img src="../images/img12.jpeg" style="width: 100%">
    <img src="../images/img13.jpeg" style="width: 100%">
   </div>
  
  <!-- </div> 
  <div class="column">
    <img src="wedding.jpg">
    <img src="rocks.jpg">
    <img src="falls2.jpg">
    <img src="paris.jpg">
    <img src="nature.jpg">
    <img src="mist.jpg">
    <img src="paris.jpg">
  </div>
  <div class="column">
    <img src="underwater.jpg">
    <img src="ocean.jpg">
    <img src="wedding.jpg">
    <img src="mountainskies.jpg">
    <img src="rocks.jpg">
    <img src="underwater.jpg">
  </div> -->


























</body>
</html>